
h1 {
    text-align: center;
    font-family:sans-serif;
    color: rgb(29, 161, 242);
}

h2 {
    text-align: center;
}

#content {
    margin-top: 40px;
}
.remove-tweet,
.remove-tweet:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}
